[submodule "src/panda_moveit_config"]
	path = src/robots/panda_moveit_config
	url = https://github.com/ros-planning/panda_moveit_config
[submodule "src/realsense-ros"]
	path = src/sensors/realsense-ros
	url = https://github.com/jethrokuan/realsense-ros
[submodule "src/mvp_grasp"]
	path = src/mvp_grasp
	url = https://github.com/jethrokuan/mvp_grasp
[submodule "src/franka_ros"]
	path = src/robots/franka_ros
	url = https://github.com/jethrokuan/franka_ros
[submodule "src/apriltag"]
	path = src/utils/apriltag
	url = https://github.com/AprilRobotics/apriltag.git
[submodule "src/apriltag_ros"]
	path = src/utils/apriltag_ros
	url = https://github.com/AprilRobotics/apriltag_ros.git
