[submodule "src/franka_ros"]
	path = src/robots/franka_ros
	url = https://github.com/jethrokuan/franka_ros
[submodule "src/apriltag"]
	path = src/algorithms/apriltag
	url = https://github.com/AprilRobotics/apriltag.git
[submodule "src/apriltag_ros"]
	path = src/algorithms/apriltag_ros
	url = https://github.com/AprilRobotics/apriltag_ros.git
[submodule "src/robots/libfranka"]
	path = src/robots/libfranka
	url = https://github.com/frankaemika/libfranka
[submodule "src/robots/robotiq"]
	path = src/robots/robotiq
	url = https://github.com/clear-nus/robotiq
[submodule "src/robots/biotac_driver"]
	path = src/robots/biotac_driver
	url = https://github.com/kth-ros-pkg/biotac_driver
[submodule "src/algorithms/pid"]
	path = src/algorithms/pid
	url = https://github.com/tasbolat1/pid
