[submodule "franka_ros"]
	path = franka_ros
	url = https://github.com/jethrokuan/franka_ros
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/jethrokuan/realsense-ros
[submodule "mvp_grasp"]
	path = mvp_grasp
	url = https://github.com/jethrokuan/mvp_grasp
[submodule "panda_moveit_config"]
	path = panda_moveit_config
	url = https://github.com/ros-planning/panda_moveit_config
