<?xml version="1.0" ?>
<!DOCTYPE launch>
<launch>
  <arg name="robot_ip" default="172.16.0.3" />
  <arg name="launch_rviz" default="true" />
  <arg name="load_gripper" default="true" />

  <!-- Set some project specific defaults for the panda arm. -->
  <node name="set_robot_defaults" pkg="franka_control_wrappers" type="set_panda_defaults.py" respawn="false" output="screen"/>

  <include file="$(find panda_moveit_config)/launch/panda_control_moveit_rviz.launch">
    <arg name="robot_ip" default="$(arg robot_ip)" />
    <arg name="launch_rviz" default="$(arg launch_rviz)" />
    <arg name="load_gripper" default="$(arg load_gripper)" />
  </include>

  <include file="$(find franka_control_wrappers)/launch/cartesian_velocity_controller.launch">
    <arg name="stopped" value="true" />
  </include>
</launch>
