<launch>
    <node name="biotac_pub" pkg="biotac_sensors" type="biotac_pub" output="screen" />
    <node name="biotac_logger" pkg="biotac_logger" type="biotac_logger_v3.py" output="screen" />
    <node name="tactile_pid" pkg="pid" type="controller" output="screen" >
      <param name="Kp" value="0.03" /> <!-- 0.02 stopped to work -->
      <param name="Ki" value="0.06" />
      <param name="Kd" value="0.001" /> <!-- 230: 0.02, 0.02, 0.001 -->
      <param name="upper_limit" value="15" />
      <param name="lower_limit" value="-15" />
      <param name="windup_limit" value="25" />
      <param name="cutoff_frequency" value="20" />
      <param name="max_loop_frequency" value="105.0" />
      <param name="min_loop_frequency" value="95.0" />
      <param name="setpoint_timeout" value="-1.0" />
     </node>
</launch>
