<?xml version="1.0" ?>
<launch>

  <arg name="robot_ip" default="172.16.0.3" />

    <!-- start the gripper hardware node -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_robotiq_description)/robots/panda_robotiq.urdf.xacro" />
    <include file="$(find robotiq_2f_gripper_action_server)/launch/robotiq_2f_gripper_action_server.launch"></include>>

    <!-- start nodes to help visualize the gripper later in RViz -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" type="double" value="100.0"/>
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="source_list">[/joint_states]</rosparam>
        <rosparam param="use_gui">false</rosparam>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="map_frame_static_publisher" args="0 0 0 0 0 0 world panda_link0 100" />

    <!-- start the hardware node for the Panda robot -->
    <include file="$(find franka_control)/launch/franka_control.launch">
      <arg name="robot_ip" value="$(arg robot_ip)" />
      <arg name="load_gripper" value="false" />
    </include>

    <!-- start the move group for motion planning -->
    <include file="$(find panda_moveit_config)/launch/move_group.launch">
      <arg name="load_gripper" value="false" />
    </include>
  
  <!-- start RViz for visualizing the robot -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args=""/>
</launch>
