<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <!-- <xacro:include filename="$(find franka_description)/robots/hand.xacro"/> -->
  <xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model_macro.xacro" />
  <xacro:panda_arm />
  <xacro:robotiq_arg2f_140 />
  <joint name="${ns}_hand_joint" type="fixed">
    <parent link="panda_link8"/>
    <child link="robotiq_arg2f_140"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
